gene_ontology_ext.obo
go.obo
*.obo
ec2go
go-update.properties
logs
old-logs
report
.clover
.eclipse-pmd
reports

target/

# Ignore IntelliJ Files
.idea/
go-update.iml

# Ignore eclipse files
.classpath
.settings
.project
